body {
	margin: 0;
	padding: 0;
	position: relative;
	width: auto;
	background-color: rgb(199, 191, 191);
}
body #page {
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: auto;
}
a {
	text-decoration: none;
	outline: none;
}
a:active {
	background: none;
}
img {
	border: none;
	
}

header {
	background-color: #2b2729;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}
header div {
	margin: auto;
	overflow: hidden;
	padding: 2.5625em 0.625em 1.6875em;
}
header div a.logo {
	float: left;
	margin-left: 13.5em;
	padding: 0;
	width: auto;
}
header div a.logo img {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
}
header div ul {
	display: flex;
	float: center;
	white-space: 0.5em;
	list-style: none outside none;
	margin: 0 auto;
	padding: 17px 0 0;
	text-align: center;
	width: 513px;
}
header div ul li {
	display: inline-block;
	*float: left; /* Needed for IE7 and old versions */
	margin: 0 35px;
	padding: 0;
	position: relative;
	width: auto;
}
header div ul li a {
	color: #f0e7e7;
	font-family: lato-regular-webfont;
	font-size: 15px;
	font-weight: normal;
	line-height: 15px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}

header div ul li a:hover, header div ul li.menu:hover ul li a {
	color: #c8c10d;
}
header div ul li ul li a {
	color: #2b2729;
	font-family: lato-regular-webfont;
	font-size: 15px;
	font-weight: normal;
	line-height: 15px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}
header div ul li.menu {
	min-height: 35px;
	z-index: 80;
}
header div ul li.menu ul {
	display: block;
	float: none;
	left: -99999px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 24px;
	width: 106px;
	z-index: 90;
}
header div ul li.menu:hover ul.primary, header div ul li.menu ul#selected.primary {
	left: -30px;
}
header div ul li.menu:hover ul.secondary, header div ul li.menu ul#selected.secondary {
	left: -27px;
}
header div ul li.menu ul li {
	float: none;
	margin: 0;
	padding: 0;
}

.section1 h1,
.section2 h1,
.section3 h1,
.section4 h1,
.section5 h1,
.section6 h1 {
	text-align: center;
	font-weight:bold;
	color: #e9dd34;
	font-family:Impact;
	font-weight: normal;
	font-size: 2.8em;
	margin-top: 1.5em;
	margin-bottom: 2.1em;
	text-decoration-style: double;
  
	}

.section1,
.section2,
.section3,
.section4,
.section5,
.section6 {
	margin-bottom: 20em;
	
}


	.section1 p {
		text-align:left;
		font-size: 1.5em;
		text-justify: distribute;
		margin-right: 10em;
	}

	.section2 p {
		text-align: left ;
		font-size: 1.5em;
		text-justify: distribute;
		margin-left: 11em;
	}

	.section3 p {
		text-align: left;
		font-size: 1.5em;
		text-justify: distribute;
		margin-right: 10em;
	}

	.section4 p {
		text-align: left;
		font-size: 1.5em;
		text-justify: distribute;
        margin-left: 10.7em;
	}

	.section5 p {
		text-align: left;
		font-size: 1.5em;
		text-justify: distribute;
		margin-right: 7em;
	}

	.section6 p {
		text-align: left;
		font-size: 1.5em;
		text-justify: distribute;
		margin-left: 6em;
	}


	.section1 img {
		width: 41em; /* Ajuste o tamanho da imagem conforme necessário */
		height: auto;
		margin-right: 2em;
		margin-left: 12em;
		float: left;
		margin-top: 4em;
	  }

	  .section2 img {
		width: 28.4em; /* Ajuste o tamanho da imagem conforme necessário */
		height: auto;
		margin-right: 12em;
		margin-left: 4.6em;
		float: right;
		margin-top: 4em;
	   
	  }

	  .section3 img {
		width: 40em; /* Ajuste o tamanho da imagem conforme necessário */
		height: auto;
		margin-right: 2.7em;
		margin-left: 12em;
		float: left;
		margin-top: 4em;
	  }

	  .section4 img {
		width: 30em; /* Ajuste o tamanho da imagem conforme necessário */
		height: auto;
		margin-right: 12em;
		margin-left: 4.6em;
		float: right;
		margin-top: 4em;
	  }

	  .section5 img {
		width: 42em; /* Ajuste o tamanho da imagem conforme necessário */
		height: 18.8em;
		margin-right: 4.6em;
		margin-left: 12em;
		float: left;
		margin-top: 4em;
	  }

	  .section6 img {
		width: 47em; /* Ajuste o tamanho da imagem conforme necessário */
		height: 16.8em;
		margin-left: 2.4em;
		margin-right: 10em;
		float: right;
		margin-top: 5em;
	  }
 

.texto1 {
	margin-top: 12.5em;
}

.texto2 {
	margin-top: 13.5em;
}

.texto3 {
	margin-top: 16em;
}

.texto4 {
	margin-top: 18em;
}

.texto5 {
	margin-top: 13.6em;
}

.texto6 {
	margin-top: 10.5em;
}



footer {
	background-color: #2b2729;
	margin: 0;
	padding: 0;
	width: 100%;
}
footer div {
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
	padding: 59px 0 13px;
}
footer div p {
	color: #FFFFFF;
	display: block;
	font-family: roboto-regular-webfont;
	font-size: 12px;
	font-weight: normal;
	line-height: 15px;
	margin: 0;
	padding: 33px 0 50px;
	text-align: center;
	text-transform: none
}
footer div .connect {
	display: block;
	height: 30px;
	margin: 0 auto;
	max-width: none;
	overflow: hidden;
	padding: 0;
	width: 240px;
}
footer div .connect a {
	background: url(../images/icons.png) no-repeat;
	display: block;
	float: left;
	height: 30px;
	margin: 0 15px;
	padding: 0;
	text-indent: -99999px;
	width: 30px;
}
footer div .connect a.facebook {
	background-position: 0 0;
}
footer div .connect a.googleplus {
	background-position: 0 -32px;
}
footer div .connect a.pinterest {
	background-position: 0 -64px;
}
footer div .connect a.twitter {
	background-position: 0 -96px;
}
